.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
}

.nav-bg {
    background-color: #120119;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
    color: #c147e9 !important;
    border-bottom: 2px solid #c147e9;
}
