

.education-card{
    background: none !important;
    border: 3px solid  !important;
    padding: 1em 0;
    border-radius: 43px !important;
    filter: drop-shadow(0 0 0.6rem crimson) !important; 
}

.education-section{
    margin-top: 5em;
}

.card-image{
    width: 83% !important;
}

.text-card{
    height: 5em!important;
}


@media screen and (max-width: 1199px) {
  
}


@media screen and (max-width: 991px) {
    .education-section   {
        margin-top: 1em;
    }

    .card-image{
        width: 75% !important;
    }
}

@media screen and (max-width: 767px) {
    .education-section   {
        margin-top: 4em;
    }

    .card-image{
        width: 25% !important;
    }
}

@media screen and (max-width: 350px) {
    .education-section   {
        margin-top: 4em;
    }

    .card-image{
        width: 25% !important;
    }
}

@media screen and (min-width: 1024px) {
   .college-title{
    font-size: 1.7rem !important;
   }

   .course{
    font-size: 1.5rem !important;
   }

   .year{
    font-size: 1.3rem !important;
   }

   .extra{
    font-size: 1.3rem !important;
   }
}